{
  "env": {
    "test": {
      "presets":[
        ["env", {
          "loose": true,
          "browsers": ["last 3 versions", "safari >= 7"]
        }]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-async-to-generator",
        "transform-object-rest-spread"
      ]
    }
  }
}
