{
  "env": {
    "test": {
      "presets":[
        ["es2015", { "modules": "commonjs" }]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-async-to-generator",
        "transform-object-rest-spread"
      ]
    }
  }
}
