{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "loose": true,
          "targets": {
            "browsers": ["last 3 versions", "safari >= 7"]
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    }
  }
}
