{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": 0,
    "no-plusplus": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-param-reassign": ["error", { "props": false }],
    "no-mixed-operators": 0,
    "no-prototype-builtins": 0,
    "no-confusing-arrow": 0,
    "no-bitwise": ["error", { "allow": ["^"] }],
    "no-return-assign": 1,
    "arrow-body-style": 1
  }
}
