html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #202428;
  min-width: 320px;
}

body,
a,
button,
input  {
  font-size: 16px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

/* latin */
@font-face {
  font-family: 'Stardos Stencil';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Stardos Stencil Regular'), local('StardosStencil-Regular'), url("/fonts/StardosStencil-Regular.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Stardos Stencil';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Stardos Stencil Bold'), local('StardosStencil-Bold'), url("/fonts/StardosStencil-Bold.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
