name: CI

on:
  push:
    branches: [master]
    paths:
      - .github/workflows/main.yml
      - packages/**/*.{js,ts,json}
      - '*.{json,js}'
      - .eslintrc
      - tools/**/*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 20 # 2026-05-26
          - 22 # 2026-12-07
          - 24 # 2027-06-16
          - latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.sha }}
        fetch-depth: 2
    - uses: pnpm/action-setup@v2
      with:
        version: 10.24.0
        run_install: false
    - name: Get pnpm store directory
      id: pnpm-cache
      shell: bash
      run: |
        echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
    - name: Cache dependencies
      uses: actions/cache@v3
      env:
        cache-name: casl-deps
      with:
        path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Install dependencies
      run: pnpm install
    - name: Get base sha
      id: base-commit
      run: |
        echo "sha=${{ github.event.pull_request.base.sha || github.event.before }}" >> $GITHUB_OUTPUT
    - name: Build
      run: |
        if [[ "${{ github.event_name }}" != "pull_request" || $(git diff --name-only HEAD^1 HEAD | grep casl-) = "" ]]; then
          pnpm run -r build
        else
          pnpm run -r --filter '[${{ steps.base-commit.outputs.sha }}]...' build
        fi
    - name: lint
      run:  |
        if [[ "${{ github.event_name }}" != "pull_request" || $(git diff --name-only HEAD^1 HEAD | grep casl-) = "" ]]; then
          pnpm run -r lint
        else
          pnpm run -r --filter '[${{ steps.base-commit.outputs.sha }}]' lint
        fi
    - name: test
      run:   |
        if [[ "${{ github.event_name }}" != "pull_request" || $(git diff --name-only HEAD^1 HEAD | grep casl-) = "" ]]; then
          pnpm run -r  test --coverage
        else
          pnpm run -r --filter '...[${{ steps.base-commit.outputs.sha }}]' test --coverage
        fi
    - name: Submit coverage
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true # optional (default = false)
